.advantage {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
  padding: 0 120px 80px 120px;
  box-sizing: border-box;

  &__wrap {
    max-width: 380px;
    position: relative;
    padding: 0 0 0 110px;

    &:hover {
      transform: scale(1.2);
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__subtitle {
    font-weight: 500;
    margin: 8px 0 8px 0;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 8px;
      left: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }

    &--delivery {
      &::before {
        width: 82px;
        height: 52px;
        background-image: url(../img/delivery.svg);
      }
    }

    &--flowers {
      &::before {
        width: 52px;
        height: 52px;
        left: 35px;
        background-image: url(../img/flowers.svg);
      }
    }

    &--foto {
      &::before {
        width: 59px;
        height: 52px;
        left: 25px;
        background-image: url(../img/foto.svg);
      }
    }
  }

  &__text {
    max-width: 285px;
    margin: 0;
  }
}