.footer {
  width: 100%;
  display: grid;
  grid-template-rows: 97px;
  grid-template-columns: 327px 1fr;
  background-color: rgba(174, 124, 120, 1);

  &__nav {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
  }

  &__logo {
    margin: 24px 103px 0 125px;
  }
}