.logo {
  display: block;
  width: 100px;
  height: 33px;
  background: transparent url("../img/logo.svg") no-repeat 0 0;
  background-size: 100%;
  text-decoration: none;

  &--footer {
    background: transparent url("../img/logo_footer.svg") no-repeat 0 0;
  }
}