.popular {
  width: 100%;

  &__item {
    display: flex;

    &--description {}

    &--preview {}
  }

  &__title {
    margin: 0 0 36px 0;
    font-family: "playfairdisplay", Arial, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.02em;
    text-align: center;
  }

  &__wrap {
    min-width: 795px;
    //для слайдера
    // overflow: hidden;
  }
}