.review {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  margin: 0 0 49px 0;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #AE7C78;

  &__name {
    margin: 0 0 63px 0;
    font-weight: 500;
  }

  &__text {
    max-width: 275px;
    margin: 0 0 16px 0;
  }

  &__title {
    width: 100%;
    margin: 40px 0;
    font-family: "playfairdisplay", Arial, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.02em;
  }

  &__wrap {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    // max-width: 300px;
  }
}